<div id="page">

    <p><b>Change Password</b></p>

    <% if session[:messages] %>
    Errors in form data:
    <ul>
        <% session[:messages].each do |message| %>
        <li><div id="form_error" style="color: red;"><%= message %></div></li>
        <% end %>
    </ul>
    <% session.delete(:messages)%>
    <% end %>

    <% if @message %>
    <div style="color: red;"><%= @message %></div>
    <% end %>

    <div id="change_password_form">
        <%= form_tag user_change_password_path, method: :put do %>
            <table border="0">
                <tr>
                    <td align="right">
                        <label for="old_password">Old Password: </label>
                    </td>
                    <td>
                        <%= password_field_tag :old_password %>
                    </td>
                <tr>
                <tr>
                    <td align="right">
                        <label for="new_password">New Password: </label>
                    </td>
                    <td>
                        <%= password_field_tag :new_password %>
                    </td>
                <tr>
                <tr>
                    <td align="right">
                        <label for="re_password">Retype Password: </label>
                    </td>
                    <td>
                        <%= password_field_tag :re_password %>
                    </td>
                <tr>
            </table>
            <%= submit_tag "Submit", id: :submit  %>&nbsp;&nbsp;<%= submit_tag "Back", name: :back, id: :submit %>
        <% end %>
    </div>

</div>